{% extends "todo/base_bootstrap_index.html" %}
{% load static %}
<!DOCTYPE html>
{% block title %}To Do List{% endblock %}
{% block body_block %}
{% if tasks %}

<div class="container">
<table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Deadline</th>
      </tr>
    </thead>
    {% for task in tasks %}
    <tbody>
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td> {{ task.date }}</td>
        <td> {{ task.deadline }}</td>
        <td>
          <form action = "deleteURL" method="GET">
            {% csrf_token %} 
          <button type="submit" class = "btn btn-danger" name="DeleteButton" value="{{ task.title }}">Delete</button>
        </form>
        <br/>
        <form action = "modifyURL" method="GET">
          {% csrf_token %} 
        <button type="submit" class = "btn btn-primary" name="ModifyButton" value="{{ task.title }}">Modify</button>
      </form>
        </td>
      </tr>      
        {% endfor %}
        {% else %}
        <br/>
    <h1><strong>No Tasks Added!</strong></h1>
    {% endif %}
    </tbody>
    </table>
    </div>
    {% endblock %}